header, .block_header, .menu_title, .menu_list a, .form-group label, .reset [type=reset], .row_horizontal  [type=submit], .button,
thead th, .search_result, .more button, .closeBtn, .small_resolution   {
    font-family: '../fonts/BPGMrgvlovaniCaps2010';
}
.block_p, .filter-option-inner-inner, table td, .menu_block a {
font-family: 'HelveticaNeueLT-LightCond';
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #EEEEEE;
}
header {
    background-color: #3E474E;
    color: #fff;
    padding: 6px 0;
}
header .logo:hover {
    text-decoration: none;
}
header .home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .logo_text {
    margin-left: 20px;
    color: #fff;
    line-height: 1.2;
}
.home .home_p {
    margin: 0;
}
.home .user_interface {
    display: flex;
    align-items: center;
    color: #fff;
}
.home .user_interface:hover {
    text-decoration: none;
}
.home_icon:hover .fa-home {
    color:#af2b25;
    border: 1px solid #af2b25;
}
header .home i {
    margin: 0 15px;
}
header .home .fa-home {
    border: 1px solid #F5403A;
    background-color: #fff;
    color: #F5403A;
    border-radius: 50%;
    padding: 8px;
}
header .home .fa-user {
    background-color: #fff;
    color: #707070;
    border-radius: 50%;
    padding: 8px 9px;
    border: 1px solid #484848;
}
/* end header */
main .content_list {
    background-color: #fff;
    margin: 20px 0 20px;
    border-radius: 5px;
    padding: 20px;  
}
main {
    margin: 20px 0;
}
main .content_list:hover .block_p, main .content_list:hover i, main .content_list:hover .block_header  {
    color:#F5403A;
}
main .content_list:hover {
    text-decoration: none;
    box-shadow: 0px 2px 6px  rgba(0, 0, 0, 0.49);
}
main .content_list .block_p {
    font-size: 16px;
    margin: 0;
}
main .content_list {
box-shadow: 0px 2px 6px  rgba(0, 0, 0, 0.16);
}
main .content_list i {
    font-size: 50px;
    color: #484848;
}
main .content_list .block_p {
    color: #484848;
    line-height: 1.2;
}
main .block_header {
    font-size: 20px;
    color: #484848;
    margin: 0;
}
main .middle {
    display: flex;
    align-items: center;
}
.active_class {
    background: #F5403A;
}
/* end main page style */

#myBtn {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 0;
    border: none;
    outline: none;
    background-color: #0E96FF;
    color: white;
    cursor: pointer;
    padding: 6px 13px;
    border-radius: 3px;
}
/* start menu style */
.main_nav {
    background-color: #3E474E;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    }
    
     nav ul {
      display: flex;
      height: 50px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
     nav ul li  {
      flex: 1; 

    }
    
     nav ul li a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #fff;
      height: 100%;
      line-height: 1;
      font-size: 14px;
      
  
    }
    nav ul li:hover {
      background-color: #F5403A;
      color: #fff;
      text-decoration: none;
    }
    .active_tab.active_class li a {
        border: 1px solid red;
    }
    nav ul li a:hover {
        color: #fff;
        text-decoration: none;
      }
    .toggle {
      transform: translate(-50%, -50%);
      height: 20px;
      width: 30px;
      cursor: pointer;
    }
    .menu {
      color: #fff;
      display: none;
      z-index: 1100;
    }
    .toggle span {
      display: block;
      width: 24px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #F5403A;
      transition: .5s;
      border-radius: 5px;
    }
    .toggle span:nth-child(1) {
      transform: translate(-50%, -50%) translateY(-5px) ;
      transition: .2s;
      width: 24px;
      left: 50%;
      
    }
    .toggle span:nth-child(4) {
      transform: translate(-50%, -50%) translateY(5px) ;
      transition: .2s;
      width: 24px;
      left: 50%;
      
    }
    .toggle.nav-active span:nth-child(1) {
      transform: translate(-50%, -50%) translateY(-35px) ;
      opacity: 0;
      left: 50%;
    }
    .toggle.nav-active span:nth-child(4) {
      transform: translate(-50%, -50%) translateY(35px) ;
      opacity: 0;
      left: 50%;
    }
    .toggle.nav-active span:nth-child(2) {
      transform: translate(-50%, -50%)  rotate(45deg);
      left: 50%;
    }
    .toggle.nav-active span:nth-child(3) {
      transform: translate(-50%, -50%) rotate(-45deg);
      left: 50%; 
    }
    .toggle {
        display: none;
        background-color: #3E474E;
        border-radius: 3px;
    }
    /* end menu style */
/* start inner gage style (dedicion) */
.Decision .decision_row {
    background-color: #fff;
    box-shadow: 0px 3px 6px  rgba(0, 0, 0, 0.16);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.filter {
    border-right: 4px solid #EEEEEE;
}
.decision_row .warning {
    display: flex;
    justify-content: flex-end;
}
.form-group label {
    font-size: 12px;
}
.row_horizontal {
    display: flex;
}
.form-control {
    background-color: #EEEEEE;
    border-radius: 0;
}
.btn-light {
    background-color: #EEEEEE;
}
.filter-option-inner-inner, .form-control {
    font-size: 12px;
}
.form-group .form-control {
    height: 36px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder {
    border: 1px solid #ced4da;
    border-radius: 0;
    height: 36px;
}
.row_horizontal .reset {
    text-align: right;
}
.row_horizontal  [type=reset], [type=submit] {
color: #fff;
font-size: 12px;
border: 0;
border-radius: 3px;
cursor: pointer;
box-shadow: 0px 2px 6px  rgba(0, 0, 0, 0.16);
}
.row_horizontal  [type=reset] {
    background-color: #F5403A;
    padding: 9px 28px;
}
.row_horizontal  [type=submit] {
    background-color: #0F9D58;
    padding: 9px 56px;
}
.form-group.bottom {
    margin-bottom: 0;
}
.row_horizontal.buttons {
    margin-top: 30px;
}
/* forms style */
select {
    width: 100%;
}

.ms-parent {
    width: 100% !important;
}

label {
    margin-bottom: 0;
}

.ms-choice {
    border-radius: 0 !important;
    background-color: #eeeeee;
    height: 36px;
    border: 1px solid #ced4da;
}

.ms-choice>div {
    position: absolute;
    top: 5px;
}

.ms-choice span {
    padding-top: 5px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #bbbbbb !important;
    background-color: #fff !important;
}

.ms-choice:focus {
    outline: 0;
    border-color: #bbbbbb;
}

.ms-drop.bottom {
    margin-top: 1px;
}
.ms-choice > div {
    background: url(../images/multiple-select.png) left top no-repeat !important;
}
#my_div input {
    width: 100%;
    height: 36px;
    font-size: 12px;
    background:#eeeeee;
    border: none;
    margin-top: 9px;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
}
.form-group span.button {
    background: none;
    border: none;
    text-align: right;
    display: block;
    margin-right: 0;
    color: #53AE92;
    font-size: 12px;
    cursor: pointer;
    margin: 20px 0 10px;
}
.padd_left .form-group {
    margin-bottom: 0;
}
/* end forms style */
/* start table style */
.court_table thead {
    background-color: #3E474E;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
}
.court_table tbody tr:hover {
    color: #F5403A;
    cursor: pointer;
}
.court_table tbody tr {
    font-size: 12px;
}
.table td, .table th {
    vertical-align: middle;
}
.table thead th, tr th, tr td {
    vertical-align: middle;
    text-align: center;
}
.search_result {
    font-size: 12px;
    padding: 10px 0 12px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.table th  {
    font-weight: normal;
}
.table-striped tbody tr{
    border-bottom: 1px solid #dee2e6;
}
.decision_row .more button {
background-color: #0F9D58;
border: none;
color: #fff;
font-size: 12px;
padding: 7px 33px;
border-radius: 3px;
cursor: pointer;
}
.decision_row .more button:hover {
    background-color: rgb(13, 141, 79);  
}
.decision_row .more {
    text-align: center;
}
.decision_row .more button span {
    display: block;
}
/* modal style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(72,72,72,0.68)
}
.modal-content {
    background-color: #f4f4f4;
    margin: 2% auto;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
@keyframes modalopen {
    from{ opacity: 0}
    to {opacity: 1}
}


.closeBtn {
    background-color: #F5403A;
    color: #fff;
    font-size: 12px;
    padding: 10px 44px;
    border-radius: 3px;
    margin-top: 7px;
}

.closeBtn:hover,.closeBtn:focus {
    background-color: rgb(231, 60, 55);
    color: #fff;
    cursor:pointer;
}
#simpleModal .Decision {
    margin-bottom: 0;
}
.modal-body {
    padding: 0;
}
#simpleModal .Decision .decision_row {
    margin-bottom: 0;
}
.Decision {
    position: relative;
}
.search_result {
padding: 10px 0 12px 15px;
}
.pdf_version img {
    padding-right: 10px;
}
.addinput {
    position: relative;
    margin: 0 0 20px 0;
}
.addinput a {
    position: absolute;
    top: 5px;
    right: 10px;
}
.addinput:last-child {
    margin-bottom: 0;
}





footer {
    background-color: #3E474E;
    color: #fff;
    padding: 30px 0;
}
footer .footer_menu {
    display:flex;
    justify-content: space-between;
}
footer .menu_block a {
    font-size: 14px;
    color: #fff;
}
footer .menu_block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .menu_title {
    background-image: url(../images/Line.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 8px;
}

/* @media (min-width: 768px) {
    nav ul li:last-child a {
        border: none;
      }
      nav ul li a {
        border-right: 1px solid #fff;
          height: 30px;
    margin-top: 10px;
      }
  } */


@media (min-width: 768px) {
    .small_resolution {

        display: none;
    }
  }


@media (min-width: 992px) {
    .padd_left {
        padding-left: 0;
    }
  }


@media (min-width: 1200px) {
    header {
        margin: 10px 10px 0 10px;
        border-radius: 5px;
    }
   
  }


  @media (min-width: 1367px) {
    main {
        min-height:  66.5vh;
    }
    .modal-content {
        margin: 18% auto;
    }
  }


  @media (max-width: 1199.98px) {
    main .content_list {
        padding: 20px 0;
    }
  }

@media (max-width: 991.98px) {
     .home .home_p  {
        font-size: 14px;
    }
    header .home i {
        margin: 0 5px;
    }
    .home .user_interface {
        margin-left: 4px;
    }
    footer .menu_title {
        font-size: 12px;
    }
    nav ul li a {
        font-size: 10px;
    }
    .form-group label {
        font-size: 10px;
    }
    .padd_left {
        margin-top: 20px;
    }
    .table td, .table th {
        padding: .25rem;
    }
 }

@media (max-width: 767.98px) {  
    .home_p {
    display: none;
    }
footer .footer_menu {
    flex-direction: column;
}
footer .footer_menu .menu_block {
    margin-bottom: 30px;
}
/* burger */
.main_nav nav {
    position: relative;
    height: 50px;
  }
  .main_nav .toggle {
    position: absolute;
    left: 15px; 
    top: 50%;
    display: block;
    text-align: right;
    color:#fff;
    z-index: 1100;
  }
  .toggle.nav-active {
top: 15px;
  }
  .menu_list {
    display: none;
    background-color: #2e3a4d;
    min-height: 140px;
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
  }
  .active {
    display: block;
  }
  .menu_list li {
    display: block;
    text-align: center;
  }
  .menu_list li a{
    font-size: 12px;
    padding: 12px;
  }
  /* burger */
  .main_nav {
    background-color: #EEEEEE;
    position: relative;
    min-height: 30px;
}
.row_horizontal {
    display: flex;
    flex-direction: column;
}
.row_horizontal [type=reset] {
    width: 100%;
    margin-top: 10px;
}
.row_horizontal [type=submit] {
    width: 100%;
   
}
.close_btn {
    text-align: center;
    margin-top: 10px;
}
.logo .logo_text {
    font-size: 14px;
}
/* table small resolution */
table tbody td, th, tr {
    display: block;
    text-align: left !important;
}
thead {
    display:none;
}
.table td, .table th {
    border-top: 1px solid #fff !important;
    padding: 0 0 15px 15px;
}
td.small_resolution, th.small_resolution {
    padding-bottom: 0 !important;
    
}
th.small_resolution {
    padding-top: 15px;
}
.search_result {
    border-bottom: 1px solid #dee2e6;
}
.pdf_version {
    display: inline-block;
    float: left;
    margin-right: 7px; 
}
.pdf_version img {
    padding-right: 0;
}
tbody td img {
    width: 20px;
}
#myBtn {
    bottom: -45px;
}
.Decision .decision_row {
    margin-bottom: 55px;
 } 
}

 @media (max-width: 575.98px) {
    header .home .home_icon, .home_p {
        display: none;
    }
    .block_p {
        display: none;
    }
    .content_list .center {
    display: flex;
    align-items: center;
}
main .block_header {
    font-size: 14px;
}
main .content_list i {
    font-size: 40px;
}
#simpleModal .Decision .decision_row {
    overflow-x: scroll;
}
.form-group span.button {
    font-size: 10px;
}
.logo img {
    width: 60px;
}
.logo .logo_text {
    font-size: 12px;
    margin-left: 10px;
}

  }

  @media (max-width: 379.98px) {

    .logo img {
        width: 40px;
    }
    .logo .logo_text {
        font-size: 8px;
        margin-left: 10px;
    }
  }
